Repository ZimGil/ngWiz, pull requests merged in 2018-11, with the labels that each got.

#59 running only angular commands
  server/process-runner.ts
Labels: Vulnerability, server

#72 Client command status
  src/app/app.component.ts
  src/app/models/angular-cli-process-status.enum.ts
Labels: bug, client

#69 Leave Project Button
  server/server.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/services/command/command.service.ts
Labels: client, enhancement, server

#70 keep alive
  server/server.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/services/command/command.service.ts
Labels: client, enhancement, server

#77 client pop-up error management
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/popup-error/popup-error.component.css
  src/app/components/popup-error/popup-error.component.html
  src/app/components/popup-error/popup-error.component.spec.ts
  src/app/components/popup-error/popup-error.component.ts
  src/app/models/pop-up-error.interface.ts
  src/app/services/error/error.service.spec.ts
  src/app/services/error/error.service.ts
Labels: client, enhancement, organize

#68 available projects search and presentations
  server/angular-project-checker.ts
  server/server.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/new/new.component.html
  src/app/components/new/new.component.ts
  src/app/services/command/command.service.ts
Labels: client, enhancement, server

#83 Starting Log modified
  package-lock.json
  package.json
  server/logo-printer.helper.ts
  server/server.ts
Labels: design, server

#73 ng serve stop option and compilation notification
  server/process-runner.ts
  server/server.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/serve/serve.component.html
  src/app/components/serve/serve.component.ts
  src/app/services/command/command.service.ts
Labels: bug, client, server

#89 Stop checking if Angular Project after every command
  src/app/app.component.html
  src/app/app.component.ts
  src/app/models/angular-command-type.enum.ts
Labels: bug, client

#92 rename project
  README.md
  angular.json
  package-lock.json
  package.json
  server/server.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/index.html
Labels: bug, organize

#97 Create PULL_REQUEST_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Labels: organize

#96 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: organize

#95 Keep current serve after refresh
  package-lock.json
  server/server.ts
  src/app/app.component.ts
  src/app/components/serve/serve.component.html
  src/app/components/serve/serve.component.ts
Labels: Vulnerability, client, server

#90 Get available project when leaving project
  src/app/app.component.ts
Labels: bug, client

#98 Removed double subscriptions and unsubscriptions
  server/models/command-status-response.interface.ts
  server/server.ts
  src/app/app.component.ts
  src/app/components/serve/serve.component.ts
  src/app/models/command-status-response.interface.ts
  src/app/services/command/command.service.ts
Labels: Vulnerability, client, server

#99 Stop serving when leaving project
  server/server.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/serve/serve.component.html
  src/app/components/serve/serve.component.ts
  src/app/services/command/command.service.ts
Labels: Vulnerability, client, server

#102 Conflicts mishandling fix
  server/server.ts
  src/app/home/components/serve/serve.component.ts
  src/app/home/home.component.html
  src/app/home/home.component.ts
Labels: bug

#108 Make it run anywhere
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  bin/ng-wiz.js
  package-lock.json
  package.json
  server/go.bat
  server/package-lock.json
  server/package.json
  server/server.ts
  server/tsconfig.json
Labels: enhancement
